<nav style="min-height: 10vh;" class="navbar navbar-expand-lg p-0 navbar-dark bg-dark sticky-top shadow-lg">
  <div class="container">
    <img src="../../../../assets/images/brand-image.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!userLoggedIn">
          <a class="nav-link text-white" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="!userLoggedIn">
          <a class="nav-link text-white" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="!userLoggedIn">
          <a class="nav-link text-white" routerLink="/signin">Sign in</a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn">
          <div class="d-flex justify-content-between align-items-center">
            <img src="../../../../assets/images/profile-image.jpg" alt="">
          <a class="nav-link text-white" routerLink="/profile">{{profileName}}</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn">
          <a class="nav-link text-white" role="button" (click)="signout()">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
